.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: rgba(14, 21, 37, 0.3); 
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
}

.logo{
    color: white;
    font-size: 22px;
    font-weight: bold;
}


.menu{
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.menu a:hover{
    color: #3b82f6;

}