.section-projetos {
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-margin-top: 100px;
  flex-wrap: wrap;
}

.cards {
  display: flex;
  gap: 17px;
  justify-content: center;
  flex-wrap: wrap; /* quebra linha quando precisar */
  background-color: rgb(24, 24, 27);
  border-radius: 15px;
  max-width: 95%;
}

.card-projetos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 15px;
  padding: 20px;
  margin-top: 20px;
  width: 250px;
  min-height: 200px;
  background-color: rgb(64, 71, 94);
}

.container-botao-geral {
  width: 100%; /* OCUPA TODA A LARGURA DO FLEX */
  display: flex;
  justify-content: center; /* CENTRALIZA O BOTÃO */
  margin: 8px auto;
  position: relative;
  top: -10px;
}

.button-ver-mais {
  padding: 12px 30px;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid #ffffff;
  background-color: #21262d;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.25s ease;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  margin-top: 0px;
}

.icon-github {
  width: 20px;
  height: 20px;
  filter: invert(1);
}

.button-ver-mais:hover {
  transform: translateY(-3px);
  background-color: #30363d;
}

.h3-projetos {
  color: white;
  margin: 0px 0 33px 0;
  font-size: 20px;
  text-align: center;
}

.h2-projetos {
  font-size: 70px;
  margin-top: 10px;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 0;
  background: linear-gradient(
    120deg,
    #1e3a8a,
    #3b82f6,
    #60a5fa,
    #3b82f6,
    #1e3a8a
  );
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 6s ease-in-out infinite;
  color: white;
}

.img_projetos {
  margin: 0 auto;
  width: 95%;
  height: 110px;
  border-radius: 5px;
}

.div_icons {
  display: flex;
  justify-content: center;
}

.img_icons {
  width: 25px;
  height: 25px;
  margin: 10px;
  border-radius: 5px;
  margin-left: 5px;
  transition: all 0.3s ease;
}

.img_icons:hover {
  transform: scale(1.2);
  transition: all 0.3s ease;
}

.button-projetos {
  width: 150px;
  margin: 20px auto 0 auto;
  padding: 10px;
  border: none;
  border-radius: 8px;
  color: #f8f8f8;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  text-align: center;
}

.button-projetos:hover {
  transform: translateY(-4px) scale(1.03);
}

.button-projetos:active {
  transform: translateY(0px) scale(0.95);

  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 750px) {
  .section-projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    scroll-margin-top: 100px;
  }

  .h2-projetos {
    font-size: 8vw; /* cresce/diminui com a tela */
    margin-bottom: 20px;
    text-align: center;
  }

  .cards {
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center; /* centraliza o card */
  }

  .card-projetos {
    width: 90%; /* menor que o container */
    max-width: 320px;
  }

  .img_icons {
    width: 6vw; /* responsivo */
    max-width: 25px; /* não fica gigante */
    height: auto;
    margin: 5px;
  }

  .h2-projetos {
    font-size: 50px;
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 20px;
    background: linear-gradient(
      120deg,
      #1e3a8a,
      #3b82f6,
      #60a5fa,
      #3b82f6,
      #1e3a8a
    );
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 6s ease-in-out infinite;
    color: white;
  }
}
